body{
    width: 1500px;
    min-width: 1000px;
    height: 959px;    
    margin: 0 auto;
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);

}
    #main{
        position: relative;
        top: 7rem;
        left:15rem;
        width: 1000px;
        height: 667px;
        border: 1px solid black;     
       display: flex;
    }
    .white{
        width: 560px;
        height: 667px;
        background: #FFFFFF;
    }

    .blue{
        display: flex;
        width: 440px;
        height: 657px;
        background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
        box-shadow: 0px 0px 10px 9px #4E7577;
        padding-top: 4px;
    }
    .kreativ{
        height: 22px;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 32px;
        padding-top: 12px;
            }
            .navi  {
                position: relative;
                top: 12px;
                left: 290px;
                height: fit-content;
                display: flex;
                line-height: 24px;
                color: #FFFFFF;
            }
            .one{
padding-right: 24px;              
            }
            .text{
                position: relative;
                top: 11rem;
                right:20rem;
                font-weight: 700;
                font-size: 48px;
                line-height: 60px;
                color: #FFFFFF;
                opacity: 0.5;
            }          
              .einshtein{
font-weight: 700;
font-size: 16px;
line-height: 24px;
            }
            .letsStart{
                position: relative;
                width: 300px;
                top: 7rem;
                left: 12rem;
                height: 36px;
                font-size: 18px;
                font-weight: 1000;
                line-height: 36px;
                color: #000000;
            }
            .form >p{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 380px;
                top: 7rem;
                left:5rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;                          
                color: #000000;
                             }
 input {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    line-height: 16px;
    color: #CCCCCC;

}
#undertext{
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: #A8A8A8;
}
.option{
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #A8A8A8;
}
#button{
    position: relative;
    top:10rem;
    left:6rem;
    width: 355px;
    height: 34px;
    background: #27485D;
    border: 1px solid #284A5E;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
#footer{position: relative;
    top:10.5rem;
    left: 12rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
}
#login{
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #476D73;
}
            
           