body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 400;
    margin:0%;
    width: 100%;        }

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;  }

.header-blue {
    color: #3E45E8; }
.header-yellow {
    color:  #E8C23E; }

#background{
    background-image: url(./img/фонове\ зображення.png);
    width: 1440px;
    height: 766px;
    left: 0px;
    top: 109px;  }

.sflag{
    position: absolute;
    width: 23px;
    height: 290px;
    left: 80px;
    top: 349px;  }

    .text {   
    position: absolute;
    width: 1036px;
    height: 304px;
    left: 125px;
    top: 340px;      
    font-weight: 700;
    font-style: normal;
    font-size: 43px;
    line-height: 157.3%;
    color: #FFFFFF;   }

.title {
   font-weight: 700;
   font-size: 40px;         }
 
   .flag {
    width:800px     }

   .content > div {
    width: 390px;
    height: 481px;
    border: 5px solid #0D095F;
    border-radius: 40px;
    display: inline-block;
    box-shadow:-16px 21px 40px rgba(0, 209, 255, 0.35);
    margin: 15px;  
    max-width: 1000px;  
    vertical-align: top;  }

#cardname {
text-align: center;
font-weight: 700;
font-size: 24px;
line-height: 157.3%;
color: #0072DB;  }

#carddescription{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;      
    color: #FF9900; }

#card3 {
font-weight: 400;
font-size: 20px;
line-height: 157.3%;}

#headeandmap {
    text-align: center;      }

.header2 {
    width: 600px;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    border-bottom: 7px solid blue;
   
     }



    #button{
        text-align: center;     }

    .button1 {
     width: 499px;        
       background: #2A61F0;
       border-radius: 50px;      
         height: 101px;
        font-weight: 700;
       font-size: 64px;         }

    #blueback{
    background-image: url(./img/Rectangle\ 7.png);
    position:absolute;
    width: 100%;
    height: 233px;
    left: -6px;
    top: 2436px;          }

    .url{
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        font-weight: 400;
        font-size: 48px;     }
        
        #email { 
        text-align: center;
        font-weight: 400;
        font-size: 36px;
        color: rgba(168, 157, 157, 1);
        Line-height: 45px;   }
                
    
    #mobile {
        text-align: center;
        font-weight: 400;
        font-size: 36px;
        line-height: 45px; 
        color: rgba(168, 157, 157, 1);     }

    #links{
        text-align: center;    }