.header{ 
    position: sticky;
    background-color: rgba(36, 59, 147, 1);
    overflow: hidden;
    width: 1920px;
    height: 65px; }

    #logo{
    position:relative;
    top: 11%;
    left: 299px ;
    }
    #navigation{position: absolute;
        width: 45%;
        top: 22.39px;
        left: 153px;
        display: flex;
        justify-content: space-between;
        padding-left: 25%;
    }
        
       #navigation > a {
        color: aliceblue;
        font-weight: 700;
        font-size: 16px;
    }

    .map_logo{
        position: absolute;       
        right: 13.77%;
        top: 9.24%;}
       
        #map_text{
            position:absolute;
            color:aliceblue;
            right: 214px;
            top: 17px;
            font-size: 28px;
            font-weight: 700;          
        }
        #title{
            background-color: #BFF0FF;
            width: 1920px;
            height: 85px;
                   }
                   #title > div {
                    padding-left: 299px;
                    padding-top: 17px;
                    font-style: italic;
                    font-size: 44px;
                   }
        #drop_main{
            background-color:#FBE4FF; 
            width: 1920px;
            height: 2800px;
        }
        .drop_menu{
            background-color: white;
            position: absolute;
            width: 1430px;
            height: 57px;
            left: 307px;
            top: 176px;
        }
        #drop_text  {     
            position: absolute;             
            left: 527px;
            top: 18px;
            font-weight: 400;
            font-size: 28px;
        }
        #arrow{
            position:absolute;
            right: 28px;
            top:15px
        }
        .fixed_button{
            position: fixed;
            bottom: 170px;
            right: 1920px;
        }
        #card1{
            position: relative;
            width: 1433px;
            height: 300px;
            left: 299px;
            top: 125px;
            background: #54D6FF;
            border: 1px solid #000000;
            box-shadow: 0px 0px 60px 4px #2CBDEB;
            display: flex;
        }
        .img{
            position: relative;
            top: 27px;
            left: 33px;
        }
        .name{
            position: relative;
            width: 863px;
            height: 42px;
            left: 45px;
            top: 13px;            
            font-style: italic;
            font-weight: 900;
            font-size: 51px;
             display: flex;
            align-items: center;
            color: #353C57;
            border-bottom: 1px solid black;
        }

        .discription{
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 861px;
    height: 202px;
    left: 51px;
    top: 28px;
    background: #EDFBFF;
    border: 1px solid #000000;
    font-weight: 800;
    font-size: 29px;
    line-height: 40px;
    display: flex;
}
div:hover svg{
    fill:yellow
}                  
               #card2{
            position: relative;
            width: 1433px;
            height: 300px;
            left: 299px;
            top: 160px;
            background: rgba(173, 203, 212, 1);
            border: 1px solid #000000;
            display: flex;
        }
        .name2{
            position: relative;
            width: 863px;
            height: 42px;
            left: 45px;
            top: 13px;            
            font-style: italic;
            font-weight: 900;
            font-size: 46px;
             display: flex;
            align-items: center;
            color: #353C57;
            border-bottom: 1px solid white;
        }
        .discription2{
            position: relative;
            display: flex;
            box-sizing: border-box;
            width: 861px;
            height: 202px;
            left: 51px;
            top: 28px;
            background: #EDFBFF;
            border: 1px solid #000000;
            font-weight: 800;
            font-size: 27px;
            line-height: 40px;
            display: flex;
        }
        #star2  {
            position: absolute;
            top: 6px;
            right: 15px;
            color: white;
    }

            a:hover > #blue_button{
                background-color: red;
            }
            #blue_button{
                position: absolute;
                text-align: center;
                font-weight: 400;
                font-size: 24px;
                line-height: 39px;
                border: 1px solid #000000;
                border-radius: 30%;
                background: rgba(36, 59, 147, 1);
                box-sizing: border-box;
                top: 251px;
                right: -18px;
                width: 210px;
                height: 46px;
                color: #FFFFFF;
            }

                #card3{
                    position: relative;
                    width: 1433px;
                    height: 300px;
                    left: 299px;
                    top: 196px;
                    background: rgba(173, 203, 212, 1);
                    border: 1px solid #000000;
                    display: flex;}

                    #card4{
                        position: relative;
                        width: 1433px;
                        height: 300px;
                        left: 299px;
                        top: 237px;
                        background: rgba(173, 203, 212, 1);
                        border: 1px solid #000000;
                        display: flex;}
                       
  #personal_cabinet{
background:linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
position: absolute;
width: 1926px;
height: 85px;
left: 0px;
top: 1628px;}

#personal_cabinet > div{
font-style: italic;
font-weight: 800;
font-size: 44px;
line-height: 78px;
display: flex;

padding-left: 292px;
color: #243B93;                 }

.cabinet{
position: relative;
width: 1318px;
height: 498px;
left: 301px;
top: 398px;
background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
}
    .avatar{
        position: relative;
        width: 196px;
        height: 184px;
        left: 192px;
        top: 60px;
    }
    #blue_button1{
        position: relative;
        width: 250px;
        height: 50px;
        left: 171px;
        top: 111px;        
        background: #243B93;
        border-radius: 30px;
        font-weight: 800;
        line-height: 47px;
        font-size: 31px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    #red_button1{
        position: relative;
        width: 250px;
        height: 50px;
        left: 171px;
        top: 150px;        
        background:rgba(239, 7, 91, 1);
        border-radius: 30px;
        font-weight: 800;
        font-size: 31px;
        line-height: 47px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
    .surname_name{
        position: relative;
        width: 806px;
        height: 42px;
        left: 467px;
        top: -220px;            
        font-style: italic;
        font-weight: 1000;
        font-size: 49px;
         display: flex;
        align-items: center;
        color: #353C57;
        border-bottom: 4px solid white;
    }
    .gender{
        position: relative;
        width: 806px;
        height: 42px;
        left: 467px;
        top: -180px;            
        font-style: italic;
        font-weight: 1000;
        font-size: 49px;
         display: flex;
        align-items: center;
        color: #353C57;
        border-bottom: 4px solid white;
    }
    .gender1{
                font-weight: 500;
    }
    .dob{
        position: relative;
        width: 806px;
        height: 42px;
        left: 467px;
        top: -140px;            
        font-style: italic;
        font-weight: 1000;
        font-size: 49px;
         display: flex;
        align-items: center;
        color: #353C57;
        border-bottom: 4px solid white;
    }
.mobile{
    position: relative;
    width: 806px;
    height: 42px;
    left: 467px;
    top: -100px;            
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
     display: flex;
    align-items: center;
    color: #353C57;
    border-bottom: 4px solid white;
}
.email{ 
    position: relative;
    width: 806px;
    height: 42px;
    left: 467px;
    top: -60px;            
    font-style: italic;
    font-weight: 900;
    font-size: 45px;
     display: flex;
    align-items: center;
    color: #353C57;}

    #enter{
        position: relative;
        width: 174px;
        height: 50px;
        left: 895px;
        top: 420px;        
        background:  #243B93;
        border-radius: 30px;
        line-height: 47px;
        font-weight: 800;
        font-size: 31px;
        text-align: center;
        color: #FFFFFF;
    }
    #contacts{
        position: relative;
        width: 1920px;
        height: 85px;
        left: 0px;
        top: 450px;
        background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    }
    #contacts > div {
        font-style: italic;
        font-weight: 800;
        font-size: 44px;
        line-height: 78px;
        padding-left: 292px;
        color: #243B93;
    }
    .contacts_frame{
        position: relative;
        width: 706px;
        height: 190px;
        left: 299px;
        top: 482px;
      
    }
    .phone{
        position: relative;
        display: flex;
        width: 245px;
        height: 41px;
        top: 5px;
        left: 5px;
        border-bottom: 2px solid black;
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;        
        color: #000000;
    }
    .number1{
        position: relative;
        display: flex;
        width: 250px;
        height: 39px;
        left: 9px;
        top: 5px;
        font-weight: 600;
        font-size: 30px;
        line-height: 39px;
    }
    .adress{
        position: relative;
        display: flex;
        width: 400px;
        height: 41px;
        top: 5px;
        left: 5px;
        border-bottom: 2px solid black;
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;        
        color: #000000;
    }
    .adress1{
        position: relative;
        display: flex;
        width: 400px;
        height: 39px;
        left: 9px;
        top: 5px;
        font-weight: 600;
        font-size: 28px;
        line-height: 39px;
    }
    .email1{
        position: relative;
        display: flex;
        width: 238px;
        height: 41px;
        top: -158px;
        left: 356px;
        border-bottom: 2px solid black;
        font-weight: 600;
        font-size: 32px;
        line-height: 41px;        
        color: #000000;
}
.email_details{
    position: relative;
        display: flex;
        width: 230px;
        height: 39px;
        left: 356px;
        top: -158px;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
}
    .map{
        position: relative;
        top: -255px; 
        left: 775px;}
        .bottom{
            position: relative;
            width: 1920px;
            height: 65px;
            background: #243B93;
            top:695px;
                   }
                   .footer1{
                    position: relative;
                    left: 299px;
                    top: 25px;
                    font-weight: 800;
                    font-size: 18px;
                    letter-spacing: 0.2em; 
                    color: #FFFFFF;

                   
                    
                   }
                   
       
    




                   


