@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");


body{ 
    background-color: rgba(33, 37, 41, 1);
    max-width: 1440px;
}
html {
    font-size: 10px;
    --color-white: white;
    --color-orange: #ffb742;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 66px;
    margin:0 auto;
    padding-top: 2 rem;
}
div.nav_panel :hover{
    color: #FFB742;
}
.nav_panel{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
.nav_panel a{
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
    .hire_button:hover{
        background-color:#FFB742;
        transition: all 1000ms;
    }
.hire_button{
display: flex;
justify-content:center;
align-items: center;    
width: 121px;
height: 54px;
border: 2px solid #FFB742;
border-radius: 50px;
font-family: inter;
font-size: 18px;
line-height: 30px
}
.hire_button a :hover{
    color: black;
}
.hire_button a{
    color: rgba(255, 183, 66, 1);
    align-items: center;    
}
.profile{
    position:absolute ;
    left: 238px;
    top: 187px;
}
.name{
    position: absolute;
    font-family: 'Inter';
    font-size: 32px;
    line-height: 51px;
    color: #FFFFFF;
    left: 300px;
}
.name1{
    color: rgba(255, 183, 66, 1);
    text-decoration: underline;}

    .developer{
    position: relative;
    font-family: 'Inter';
    font-size: 48px;
    line-height: 91px;
    color: #FFFFFF;
    top: 35px;
    left: 7px;    }

    .discription{
    position: relative;
    font-family: 'Inter';
    font-size: 24px;
    line-height: 51px;
    color: #FFFFFF;
    top: -8px;
    left:130px;
    }
    .avatar{
        position: relative;
        top: -30px;
        left: 385px;
    }
    #first{
        position: relative;
        top: 70rem;
    }
    .cards{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        
    }
    
    .card {
        width: 31.5%;
        background: #3e3e43;
        color: var(--color-white);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem 0;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }
    
    .card:hover{
        background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    }
    
    .card:hover .card-title, .card:hover .card-subtitle{
        color: #212529;
    }
    
    .card-title {
        font-size: 3.2rem;
        color: var(--color-orange);
    }
    .card-subtitle {
        font-size: 1.6rem;
        color: var(--color-white);
    }
    #Iam{
        position: absolute;
        width: 1384px;
        height: 629.67px;
        left: 5px;
        top: 1127.4px;
    }
    .face img {
        background:url(../img/Mask\ group.png);
        background-repeat: no-repeat;
    }
    .aboutme{
        position: absolute;
        left: 773px;
        top: 3px;
        width:682px;
        height: 396px; 
        text-align: center;
    }
    .whoIam{
        font-weight: 600;
        font-size: 20px;
        line-height: 43px;
        text-transform: uppercase;
        color: #FFB742;
        padding: 6px 25px;
        width: 125px;
        height: 42px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
    }
    .me{
 position: relative;
left: -239px;
top: 14px;
font-weight: 700;
font-size: 48px;
line-height: 30px;
color: #FFFFFF;
    }
    .portfolio{
position: relative;
top:10px;
left:-230px;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #D5D5D5;
padding: 38px;
text-align: left;
    }
    #skills{
position: absolute;
width: 1339px;
height: 358.29px;
left: 50px;
top: 1723px;
    }
    .main_for_skills{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.included{
width: 518px;
height: 110px;
font-weight: 700;
font-size: 48px;
line-height: 56px;
color: #FFFFFF;
}
.deskriptionSkills{
font-size: 16px;
line-height: 30px;
color: #D5D5D5;
padding-top: 20px;
padding-bottom: 38px;
Width:580px;}

.icons >div>a>img:hover{
    background: rgba(255, 183, 66, 0.5);
    border: 1px solid #000000;
}
.icons {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 560px;
   height: 176px;
}
.icons >div>a>img {
    width: 80px;
    height: 80px;
     padding: 5px;
}
.main{
    position: absolute;
    width: 1300px;
    left: 701px;
    top: 2350px;
    }

    .header1{
    position: relative;
    font-family: 'Inter';
    font-size: 48px;
    line-height: 91px;
    color: #FFFFFF;
    top: -30px;
    left: -90px;
    }
    div.navi :hover{
        color: #FFB742;
    }
    .navi{
        width: 59%;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: -23px;
        right: 311px;       
      } 
            .navi a{
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;}

            #photos{
                display: flex;
                position: relative;
                top: 55px;
                right: 525px; 
            }
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px; 
  }
  .two{
    margin-bottom: 15px;  }
    .review{
        position: absolute;
        top: 1270px;
        left: 12px;
    }
    .testimonials{
        font-weight: 600;
        font-size: 20px;
        line-height: 43px;
        text-transform: uppercase;
        color: #FFB742;
        padding: 6px 25px;
        width: 150px;
        height: 42px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 50px;
        margin-bottom: 17px;
    }
    .reviewForms{
        display: flex;
        position: relative;
         right: 577px;
}
.header2{
    position: relative;
    font-family: 'Inter';
    font-size: 48px;
    line-height: 91px;
    color: #FFFFFF;
    top: -30px;
    left: -135px;
}
    .three{
        margin: 3rem;
    }
.banzal{
position: absolute;
display: flex;
width: 1440px;
height: 470px;
right: 558px;
top: 2260px;
background-color: rgb(12, 13, 13);
}
.mainFoter{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    top: 90px;
    left: 46px;
    width: 201px;
}
.footer1{
font-weight: 700;
font-size: 32px;
line-height: 32px;
color: #FFB742;
padding-bottom: 3rem;
}
.footer2{
font-weight: 600;
font-size: 16px;
line-height: 42px;
color: #D4D4D4;
}
.secondFot{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    top: 90px;
    left: 220px;
    width: 275px;
}
.foothead{
    font-weight: 700;
font-size: 21.5865px;
line-height: 32px;
color: #F5FBF2;
padding-bottom: 2rem;
}

.inside>a>li{
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
.newsInfo{
font-weight: 500;
font-size: 17.9888px;
line-height: 36px;
color: #7B7B7B;
}
  