.first_block {
    background-image: url(../img/фон.png);
    position: absolute;
    width: 1500px;
    height: 700px;  }
    .name{
    position: absolute;
    width: 969px;
    height: 206px;
    left: 265px;
    top: 144px;    }
    #block_menu{
    position: absolute;       
    left: 112px;
    top: 732px;    
    font-size: 40px;
    line-height: 48px;    }

    .blocks{
    display: inline-block ;    }
    #block_1{
        position: absolute;
        width: 400px;
        height: 460px;
        left: 112px;
        top: 812px;        
        background: #231B0C;
    }
    
    .gallery{
        text-align: center;

     }
.foto_gallery{ 
    text-align: center;
    margin-top: 135px;

}

#block_2{
    position: absolute;
width: 400px;
height: 460px;
left: 550px;
top: 811px;
background: #231B0C;
}
.sport{
    text-align: center;
}
.foto_sport{
    text-align: center;
    margin-top: 135px;

 }
#block_3{
position: absolute;
width: 400px;
height: 460px;
left: 988px;
top: 811px;
background: #231B0C;
}
.more{
    text-align: center;
  }
.foto_more{
    text-align: center;
    margin-top: 135px;
    }
    
.photo{
    position: absolute;
    left: 111px;
    top: 1313px;    }
    .footer{
position: absolute;
width: 1500px;
height: 279px;
left: -1px;
top: 1948px;
background: #150F02; 
   }
   .left_text{
position: absolute;
width: 166.93px;
height: 25px;
left: 418px;
   }
   .right_text{
position: absolute;
width: 41.59px;
height: 25px;
left: 955px;
   }
   .contacts{
margin: 3px;
font-size: 20px;
padding: 2.5cm;
padding-inline-start: 700px;
   }
   .line{
position: absolute;
left: 591px;   }

.social_networks{
text-align: center;
left: 48.87%;
right: 49%;
margin: -60px;


}